.elementor-2144 .elementor-element.elementor-element-4aa8c58 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 9999;
}

.elementor-2144 .elementor-element.elementor-element-b836535 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2144 .elementor-element.elementor-element-f4f6238 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-left: 16px;
    --padding-right: 16px;
}

.elementor-2144 .elementor-element.elementor-element-f4f6238:not(.elementor-motion-effects-element-type-background),
.elementor-2144 .elementor-element.elementor-element-f4f6238>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-db220d4 {
    --display: flex;
    --justify-content: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 24px;
    --padding-right: 0px;
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-icon i {
    color: var( --e-global-color-e052ba3);
    transition: color 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-e052ba3);
    transition: fill 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-198c466 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-5ec7628-font-family), Sans-serif;
    font-size: var( --e-global-typography-5ec7628-font-size);
    font-weight: var( --e-global-typography-5ec7628-font-weight);
    text-transform: var( --e-global-typography-5ec7628-text-transform);
    font-style: var( --e-global-typography-5ec7628-font-style);
    line-height: var( --e-global-typography-5ec7628-line-height);
    letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
    word-spacing: var( --e-global-typography-5ec7628-word-spacing);
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-text {
    color: var( --e-global-color-e052ba3);
    transition: color 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-5139612 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 24px;
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-icon i {
    color: var( --e-global-color-e052ba3);
    transition: color 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-e052ba3);
    transition: fill 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-5ec7628-font-family), Sans-serif;
    font-size: var( --e-global-typography-5ec7628-font-size);
    font-weight: var( --e-global-typography-5ec7628-font-weight);
    text-transform: var( --e-global-typography-5ec7628-text-transform);
    font-style: var( --e-global-typography-5ec7628-font-style);
    line-height: var( --e-global-typography-5ec7628-line-height);
    letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
    word-spacing: var( --e-global-typography-5ec7628-word-spacing);
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-text {
    color: var( --e-global-color-e052ba3);
    transition: color 0.3s;
}

.elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-193f005 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-left: 24px;
    --padding-right: 24px;
}

.elementor-2144 .elementor-element.elementor-element-5069cc5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 24px;
    --padding-right: 0px;
}

.elementor-2144 .elementor-element.elementor-element-dbbbb72 {
    text-align: left;
}

.elementor-2144 .elementor-element.elementor-element-dbbbb72 img {
    width: 160px;
}

.elementor-2144 .elementor-element.elementor-element-1417173 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    background-color: var( --e-global-color-b41e63e);
    font-family: var( --e-global-typography-61258b2-font-family), Sans-serif;
    font-size: var( --e-global-typography-61258b2-font-size);
    font-weight: var( --e-global-typography-61258b2-font-weight);
    text-transform: var( --e-global-typography-61258b2-text-transform);
    font-style: var( --e-global-typography-61258b2-font-style);
    line-height: var( --e-global-typography-61258b2-line-height);
    letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
    word-spacing: var( --e-global-typography-61258b2-word-spacing);
    padding: 0px 0px 0px 0px;
    color: var( --e-global-color-e052ba3);
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    border-color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel {
    background-color: var( --e-global-color-b41e63e);
    border-style: none;
    border-radius: 12px 12px 12px 12px;
    min-width: max-content;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger {
    background-color: var( --e-global-color-a32a2b8);
    float: right;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-close {
    background-color: var( --e-global-color-785b64d);
    font-family: var( --e-global-typography-cae1a9c-font-family), Sans-serif;
    font-size: var( --e-global-typography-cae1a9c-font-size);
    font-weight: var( --e-global-typography-cae1a9c-font-weight);
    text-transform: var( --e-global-typography-cae1a9c-text-transform);
    font-style: var( --e-global-typography-cae1a9c-font-style);
    line-height: var( --e-global-typography-cae1a9c-line-height);
    letter-spacing: var( --e-global-typography-cae1a9c-letter-spacing);
    word-spacing: var( --e-global-typography-cae1a9c-word-spacing);
    border-style: none;
    color: var( --e-global-color-e052ba3);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 {
    z-index: 0;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-container {
    height: 10px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-identity-panel {
    padding: 1px 1px 1px 1px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a {
    font-family: var( --e-global-typography-61258b2-font-family), Sans-serif;
    font-size: var( --e-global-typography-61258b2-font-size);
    font-weight: var( --e-global-typography-61258b2-font-weight);
    text-transform: var( --e-global-typography-61258b2-text-transform);
    font-style: var( --e-global-typography-61258b2-font-style);
    line-height: var( --e-global-typography-61258b2-line-height);
    letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
    word-spacing: var( --e-global-typography-61258b2-word-spacing);
    color: var( --e-global-color-primary);
    padding: 16px 16px 16px 16px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:hover {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:focus {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:active {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li:hover>a {
    color: var( --e-global-color-a047deb);
    border-radius: 4px 4px 4px 4px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-item>a {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: var( --e-global-color-a047deb);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li {
    margin: -14px 0px 0px 0px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    font-size: 12px;
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
    font-size: 12px;
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav-default .elementskit-dropdown-has>a .elementskit-submenu-indicator {
    margin: 0px 0px 0px 8px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav-default .elementskit-dropdown-has>a .ekit-submenu-indicator-icon {
    margin: 0px 0px 0px 8px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: var( --e-global-color-8fa36e4);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: var( --e-global-color-8fa36e4);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: var( --e-global-color-8fa36e4);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: var( --e-global-color-8fa36e4);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: var( --e-global-color-8fa36e4);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:last-child>a {
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    border-color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:first-child>a {
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    border-color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-submenu-panel {
    padding: 12px 24px 12px 24px;
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger>.ekit-menu-icon {
    color: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: var( --e-global-color-primary);
}

.elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-close:hover {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-b1fb4e5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 16px 16px;
    --row-gap: 16px;
    --column-gap: 16px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 24px;
}

.elementor-2144 .elementor-element.elementor-element-35e016c>.elementor-widget-container {
    background-color: var( --e-global-color-primary);
    padding: 4px 4px 4px 20px;
    border-radius: 100px 100px 100px 100px;
}

.elementor-2144 .elementor-element.elementor-element-35e016c:hover .elementor-widget-container {
    background-color: var( --e-global-color-785b64d);
}

.elementor-2144 .elementor-element.elementor-element-35e016c {
    --icon-box-icon-margin: 12px;
}

.elementor-2144 .elementor-element.elementor-element-35e016c.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary);
    fill: var( --e-global-color-b41e63e);
    color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-35e016c.elementor-view-framed .elementor-icon,
.elementor-2144 .elementor-element.elementor-element-35e016c.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-secondary);
    color: var( --e-global-color-secondary);
    border-color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-35e016c.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-b41e63e);
}

.elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon {
    font-size: 16px;
    padding: 12px;
}

.elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title {
    color: var( --e-global-color-secondary);
}

.elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title,
.elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title a {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-transform: var( --e-global-typography-accent-text-transform);
    font-style: var( --e-global-typography-accent-font-style);
    letter-spacing: var( --e-global-typography-accent-letter-spacing);
}

.elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-description {
    font-family: var( --e-global-typography-6e340fb-font-family), Sans-serif;
    font-size: var( --e-global-typography-6e340fb-font-size);
    font-weight: var( --e-global-typography-6e340fb-font-weight);
    text-transform: var( --e-global-typography-6e340fb-text-transform);
    font-style: var( --e-global-typography-6e340fb-font-style);
    line-height: var( --e-global-typography-6e340fb-line-height);
    letter-spacing: var( --e-global-typography-6e340fb-letter-spacing);
    word-spacing: var( --e-global-typography-6e340fb-word-spacing);
}

@media(max-width:1024px) {
    .elementor-2144 .elementor-element.elementor-element-f4f6238 {
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-left: 24px;
        --padding-right: 24px;
    }
    .elementor-2144 .elementor-element.elementor-element-db220d4 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-5ec7628-font-size);
        line-height: var( --e-global-typography-5ec7628-line-height);
        letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
        word-spacing: var( --e-global-typography-5ec7628-word-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-5139612 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-5ec7628-font-size);
        line-height: var( --e-global-typography-5ec7628-line-height);
        letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
        word-spacing: var( --e-global-typography-5ec7628-word-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-193f005 {
        --padding-top: 24px;
        --padding-bottom: 24px;
        --padding-left: 24px;
        --padding-right: 24px;
    }
    .elementor-2144 .elementor-element.elementor-element-5069cc5 {
        --flex-direction: row-reverse;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap-reverse;
        --justify-content: flex-end;
        --align-items: center;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 24px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-5069cc5.e-con {
        --order: 3;
    }
    .elementor-2144 .elementor-element.elementor-element-1417173 {
        --justify-content: center;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16>.elementor-widget-container {
        margin: 0px 0px -16px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 {
        z-index: 1;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-container {
        background-color: var( --e-global-color-b41e63e);
        max-width: 50%;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-identity-panel {
        padding: 24px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a {
        font-size: var( --e-global-typography-61258b2-font-size);
        line-height: var( --e-global-typography-61258b2-line-height);
        letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
        word-spacing: var( --e-global-typography-61258b2-word-spacing);
        color: var( --e-global-color-e052ba3);
        padding: 10px 15px 10px 15px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:hover {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:focus {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:active {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li:hover>a {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-item>a {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: var( --e-global-color-secondary);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav-default .elementskit-dropdown-has>a .elementskit-submenu-indicator {
        margin: 0px 0px 0px 8px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav-default .elementskit-dropdown-has>a .ekit-submenu-indicator-icon {
        margin: 0px 0px 0px 8px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var( --e-global-typography-61258b2-font-size);
        line-height: var( --e-global-typography-61258b2-line-height);
        letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
        word-spacing: var( --e-global-typography-61258b2-word-spacing);
        padding: 8px 24px 8px 24px;
        border-width: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:last-child>a {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:first-child>a {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-submenu-panel {
        padding: 10px 15px 10px 15px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-hamburger {
        float: left;
        padding: 0px 0px 0px 0px;
        width: 30px;
        border-radius: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-close {
        font-size: var( --e-global-typography-cae1a9c-font-size);
        line-height: var( --e-global-typography-cae1a9c-line-height);
        letter-spacing: var( --e-global-typography-cae1a9c-letter-spacing);
        word-spacing: var( --e-global-typography-cae1a9c-word-spacing);
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 12px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-logo>img {
        max-width: 140px;
        max-height: 60px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-logo {
        margin: 5px 0px 5px 10px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5 {
        --justify-content: flex-end;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 16px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title,
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title a {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-description {
        font-size: var( --e-global-typography-6e340fb-font-size);
        line-height: var( --e-global-typography-6e340fb-line-height);
        letter-spacing: var( --e-global-typography-6e340fb-letter-spacing);
        word-spacing: var( --e-global-typography-6e340fb-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2144 .elementor-element.elementor-element-198c466 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-5ec7628-font-size);
        line-height: var( --e-global-typography-5ec7628-line-height);
        letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
        word-spacing: var( --e-global-typography-5ec7628-word-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2144 .elementor-element.elementor-element-64b0da5 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-5ec7628-font-size);
        line-height: var( --e-global-typography-5ec7628-line-height);
        letter-spacing: var( --e-global-typography-5ec7628-letter-spacing);
        word-spacing: var( --e-global-typography-5ec7628-word-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-193f005 {
        --content-width: 100%;
        --flex-direction: row-reverse;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap-reverse;
        --justify-content: space-between;
        --flex-wrap: nowrap;
        --padding-top: 16px;
        --padding-bottom: 16px;
        --padding-left: 24px;
        --padding-right: 24px;
    }
    .elementor-2144 .elementor-element.elementor-element-5069cc5 {
        --width: 100%;
        --justify-content: flex-end;
        --gap: 16px 16px;
        --row-gap: 16px;
        --column-gap: 16px;
        --flex-wrap: nowrap;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-5069cc5.e-con {
        --order: 3;
    }
    .elementor-2144 .elementor-element.elementor-element-dbbbb72 {
        text-align: left;
    }
    .elementor-2144 .elementor-element.elementor-element-dbbbb72 img {
        width: 45%;
    }
    .elementor-2144 .elementor-element.elementor-element-1417173 {
        --width: 60px;
    }
    .elementor-2144 .elementor-element.elementor-element-1417173.e-con {
        --order: 1;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 {
        z-index: 99;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-container {
        background-color: var( --e-global-color-b41e63e);
        max-width: 100%;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li>a {
        font-size: var( --e-global-typography-61258b2-font-size);
        line-height: var( --e-global-typography-61258b2-line-height);
        letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
        word-spacing: var( --e-global-typography-61258b2-word-spacing);
        color: var( --e-global-color-e052ba3);
        padding: 10px 24px 10px 24px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav>li {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var( --e-global-typography-61258b2-font-size);
        line-height: var( --e-global-typography-61258b2-line-height);
        letter-spacing: var( --e-global-typography-61258b2-letter-spacing);
        word-spacing: var( --e-global-typography-61258b2-word-spacing);
        border-width: 5px 0px 5px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:last-child>a {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel>li:first-child>a {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-submenu-panel {
        padding: 5px 24px 5px 24px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-menu-close {
        font-size: var( --e-global-typography-cae1a9c-font-size);
        line-height: var( --e-global-typography-cae1a9c-line-height);
        letter-spacing: var( --e-global-typography-cae1a9c-letter-spacing);
        word-spacing: var( --e-global-typography-cae1a9c-word-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-logo>img {
        max-width: 0px;
        max-height: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-7d2ae16 .elementskit-nav-logo {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5 {
        --width: 100%;
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
        --flex-wrap: nowrap;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5.e-con {
        --order: 2;
    }
    .elementor-2144 .elementor-element.elementor-element-35e016c>.elementor-widget-container {
        padding: 6px 20px 0px 7px;
    }
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title,
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-title a {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-2144 .elementor-element.elementor-element-35e016c .elementor-icon-box-description {
        font-size: var( --e-global-typography-6e340fb-font-size);
        line-height: var( --e-global-typography-6e340fb-line-height);
        letter-spacing: var( --e-global-typography-6e340fb-letter-spacing);
        word-spacing: var( --e-global-typography-6e340fb-word-spacing);
    }
}

@media(min-width:768px) {
    .elementor-2144 .elementor-element.elementor-element-5069cc5 {
        --width: 20%;
    }
    .elementor-2144 .elementor-element.elementor-element-1417173 {
        --width: 60%;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5 {
        --width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2144 .elementor-element.elementor-element-5069cc5 {
        --width: 200px;
    }
    .elementor-2144 .elementor-element.elementor-element-1417173 {
        --width: 50px;
    }
    .elementor-2144 .elementor-element.elementor-element-b1fb4e5 {
        --width: calc(100% - 250px);
    }
}